.blue {
    background-color: blue;
    width: 60px;
    height: 60px;
    display: inline-block;
    margin: 0;
}

.yellow {
    background-color: yellow;
    width: 60px;
    height: 60px;
    display: inline-block;
    margin: 0;
}

.white {
    background-color: white;
    width: 60px;
    height: 60px;
    display: inline-block;
    margin: 0;
}